
## xcode specific
build/*
*.pbxuser
*.mode2v3
*.mode1v3
*.perspective
*.perspectivev3
*~.nib

## ignore private workspace stuff added by Xcode4
xcuserdata
project.xcworkspace
*.xcuserdata

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

## my
tmp/*
libs/*
output/*
plan

# 但是要追蹤 lib.a，即使上方已指定忽略所有的 .a 檔案
!lib.a

